

   <div class="row">
         
<div class="zee col-md-12 col-lg-12 col-sm-12 col-xs-12 dummy-text">
                    <h4 style="color: rgb(183, 53, 47)" class="capitalise">OUR VALUE PROPOSITION:</h4><br>
                    <ul>
                        <li class="features zee">
                            <span style="color:#b7352f">Simple, Fun Way to Add Inventory: </span>
                            <p>You don’t have to make ten phone calls to ten different movers, and tell each of them what your housing inventory is. Just add your inventory once! We provide a very simple yet fun user interface for customers to add / remove inventory of their house.</p>
                        </li><br>
                        <li class="features zee">
                            <span style="color:#b7352f">Reliable List of Movers: </span>
                            <p>boyomo has a database of 6000 movers in the US, which we consistently scrub through, review their latest customer ratings, and assign a proprietary boyomo score to each and every one of them. boyomo finds the best and reliable movers in your neighbourhood and makes them available to you. We have integrated Yelp’s review system in our platform for the customer to view what other customers are saying about these movers. And the boyomo team is constantly updating this list. Our approach is simple – we want only the best movers listed on our platform.</p>
                        </li><br>
                        <li class="features zee">
                            <span style="color:#b7352f">Instant Prices: </span>
                            <p>Instant Prices: Moving is a stressful experience, but the fact that we as customers do not even know what a “true price range” should be makes the experience even more stressful. boyomo fixes this inefficiency by providing estimated prices. Our proprietary pricing algorithm uses seasonality, potential demand, and mover location among other variables to come up with the estimated prices. And when the customer selects a mover to book with boyomo, we work with the mover to get you the listed price. So, the customer doesn’t have to negotiate with multiple movers to discover the true price!</p>
                        </li><br>
                        <li class="features zee">
                            <span style="color:#b7352f">Unparalleled Customer Service: </span>
                            <p class="no-tt">Our goal is to keep You, the customer at the center of our service. We want our customers to book their moves easily, without any hassle, without any hidden charges, from the comfort of their couch. And if we can assist you in any way to reach that goal, please do not hestiate in contacting our customer service department at any time. They are at your service 24 hours, 7 days a week @ 423.520.MOVE.</p>
                        </li>
                    </ul>
                </div>
        </p>
      </div>