<div class="row">
	<div class="col-md-12">
		<div class="bg_div_feedback">
			<md-toolbar md-theme="docs-dark">
				<h1 class="md-toolbar-tools" style="margin-left:400px;">All Clients</h1>
			</md-toolbar>

			<div class="col-md-12 col-md-offset-0">
				<md-card>
					<md-card-content>
						<table ng-table="tableParams" class="table table-bordered" show-filter="true">

        					<tr ng-repeat="user in $data">
            					<td data-title="'First Name'">{{user.fname}}</td>
            					<td data-title="'Last Name'">{{user.lname}}</td>
            					<td data-title="'Email-Id'">{{user.email}}</td>
            					<td data-title="'Mobille NO.'">{{user.mobile}}</td>
            					<td data-title="'State'" filter="{ 'state': 'text' }">{{user.state}}</td>
            					<td data-title="'City'"  filter="{ 'city': 'text' }">{{user.city}}</td>
            					<td data-title="'Pincode'">{{user.pin}}</td>
            					<td class="rowTd" ><md-button md-theme="docs-dark"  class='md-raised md-warn' ng-click="open();"><i class="fa fa-user-times"></i>Deactive</md-button></td>
        					</tr>
        				</table>

					</md-card-content>
				</md-card>
			</div>	
		</div>
	</div>
</div>