<div class="row">
	<div class="col-md-12">
		<div class="bg_div_feedback">
			<md-toolbar md-theme="docs-dark">
				<h1 class="md-toolbar-tools" style="margin-left:400px;">Client Deal Canclellation</h1>
			</md-toolbar>

			<div class="col-md-12 col-md-offset-0">
				<md-card>
					<md-card-content>
						<table ng-table="tableParams" class="table table-bordered" show-filter="true">

        					<tr ng-repeat="user in $data">

        						<td style="vertical-align:middle" align="center"  data-title="'Deal Cancle Date'" filter="{ 'dealcanceldate': 'text' }">{{user.dealcanceldate | date: 'dd/MM/yyyy'}}</td>

                                <td style="vertical-align:middle" align="center"  data-title="'Deal Date'" filter="{ 'dealdate': 'text' }">{{user.dealdate | date: 'dd/MM/yyyy'}}</td>

        						<td style="vertical-align:middle" align="center"  data-title="'Client Name'">{{user.fclient}}</td>

        						<td align="center"  data-title="'Total Amount'">{{user.amt}}</td>

        						<td align="center"  data-title="'Refund Amount'">{{user.fineamt}}</td>

        						<td align="center"  data-title="'From Address'" filter="{ 'fadd': 'text' }">{{user.fadd}}</td>

            					<td align="center"  data-title="'To Address'" filter="{ 'tadd': 'text' }">{{user.tadd}}</td>

        						<td align="center"  data-title="'Shifting Date'">{{user.shiftdate}}</td>

        						<td align="center"  data-title="'Total No.Of Pcs'">{{user.pcs}}</td>

        						<td align="center"  data-title="'Reason For Cancellation'">{{user.reason}}</td>
            					</td>
        					</tr>
        				</table>
<b>*Note: Date format in the table: MM/dd/yyyy</b>
					</md-card-content>
				</md-card>
			</div>	
		</div>
	</div>
</div>