<div class="row">
<!-- + Background Div -->
    <div class="bg_div_deal">
      <!-- + Registration Form Heading -->
      <md-toolbar md-theme="docs-dark" class="md-primary">
        <h1 class="md-toolbar-tools" style="margin-left:400px;">
          Deal Summary
        </h1>
      </md-toolbar>
      <div class="col-md-10 add-item col-md-offset-1">
        <md-card>
          <md-card-content>
            <md-content md-theme="docs-dark">
            <table class="table">
              <tr>
                <th colspan="2">Deal Summary</th>
              </tr>
              <tr>
                <td><h2><span class="label label-success">Name of Customer:</span></h2></td>
              
                  <td style="vertical-align:middle"><span class="list-group-item">Mahaveer Mutta</span></td>
                </tr>

                <tr>
                  <td><h2><span class="label label-success">Total No. of Pcs:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
                
                  <td style="vertical-align:middle"><span class="list-group-item">12</span></td>
                </tr>
                <tr>
                  <td><h2><span class="label label-success">Move From:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
                
                  <td style="vertical-align:middle"><span class="list-group-item">Synerzip Softech, Kothrud, Pune, Maharashtra, India</span></td>
                </tr>
                <tr>
                <td><h2><span class="label label-success">Move To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
              
                <td style="vertical-align:middle"><span class="list-group-item">Sarasnagar Road, Bhavani Nagar, Ahmednagar, Maharashtra, India</span></td>  
                </tr>
                
                <tr>
                <td><h2><span class="label label-success">Shifting Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
              
                <td style="vertical-align:middle"><span class="list-group-item">15-04-2015</span></td>  
                </tr>
                
                <tr>
                  <td><h2><span class="label label-success">Deal Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
                
                  <td style="vertical-align:middle"><span class="list-group-item">14-04-2015</span></td>
                </tr>
                
                <tr>
                <td><h2><span class="label label-success">Quotation Amt:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2></td>
              
                <td style="vertical-align:middle"><span class="list-group-item">16000</span></td>
              </tr>
              
              
                
                
                
                
                
                
                    </table>
           <md-input-container>
                <label>Reason ?</label>
                <textarea></textarea>
              </md-input-container>

              <md-button class="md-raised md-warn pull-right">Abort Deal</md-button> 
            </md-content>
          </md-card-content>
        </md-card>          
    </div> 
  </div><!-- +End Of Background Div -->
</div><!-- +End Of Main Div(row) -->