<div class="row">
	<div class="col-md-12">
		<div class="bg_div_more-info-mover">
			<md-toolbar md-theme="docs-dark">
				<h1 class="md-toolbar-tools" style="margin-left:400px;">More Information</h1>
			</md-toolbar>

			<div class="col-md-12 col-md-offset-0">
				<md-card>
					<md-card-content>
			
					<table border='0' class="table" align="center" width="80%">
						<tr>
							<th colspan="3" style="text-align:center;"><span class="badge"><h3>Detail Info Of Mover</h3></span></th>
						</tr>
						<tr>
							<td colspan="2" align="center"><h2><span class="label label-success">Name and Address Of Company:-Shweta Pawar</span></h2></td>
							<td align="center"><h2><span class="label label-success">Office Telephone No.:-0241-25631489</span></h2></td>
						</tr>
						
						<tr>
							<td align="center"><h3><span class="label label-warning">Shopact Lisence:</td>
							<td align="center">	<img src="assets/licnce2.jpg"></td>
							<td align="center"><h3><span class="label label-warning">Total Number Of Vehicals:- 5 
											</td>
						</tr>

						<tr>
							<td align="center"><h3><span class="label label-success">Types Of Vehicals:- Truck,Tempo,Piaggo </td>
							<td align="center"><h3><span class="label label-success">Documents Of Vehical:</td>
							<td align="center">	Tax Book<br><img src="assets/taxcopy1.png"></td>
							
						</tr>

						<tr>
							<td></td>
							<td align="center"><h3><span class="label label-warning">	RC Book<br><img src="assets/RC2.jpg"></td>
							<td align="center"><h3><span class="label label-warning">	PUC Book<br><img src="assets/PUC1.jpg"></td>
							
						</tr>
						
						<tr>
							<td colspan="2" align="center"><h3><span class="label label-success">Loading And Unloading Services:Yes</td>
							<td align="center"><h3><span class="label label-success">Rearranging Services:Yes</td>
						</tr>
						
						<tr>
							<td align="center"><h3><span class="label label-warning">Id Proofs:-</td>
							<td align="center"><img src="assets/AD2.jpg"><br>
							<td align="center">	<img src="assets/PAN1.jpg"></td>
							</td>
						</tr>
						<tr>
							<td align="center"></td>
							<td align="center">
							</td>
						</tr>

					</table>

        					
					</md-card-content>
				</md-card>
			</div>	
		</div>
	</div>
</div>