<div class="row">
	<div class="col-md-12">
		<div class="bg_div_more-info">

			<md-toolbar md-theme="docs-dark">
				<h1 class="md-toolbar-tools" style="margin-left:400px;">More Information</h1>
			</md-toolbar>

			<div class="col-md-12 col-md-offset-0">
				<md-card>
					<md-card-content>
			
					<table class="table" border='0' align="center" width="80%">
						<tr>
							<td colspan="3" style="text-align:center;"><span class="badge"><h3>Detail Info Of Packer</h3></span></td>
						</tr>
						<tr>
							<td colspan="2" align="center"><h2><span class="label label-success">Name and Address Of Company:-Shweta Pawar</span></h2></td>
							<td align="center"><h2><span class="label label-success">Office Telephone No.:-0241-25631489</span></h2></td>
						</tr>
						
						<tr>
							<td align="center"><h3><span class="label label-warning">Shopact Lisence:-</span></h3></td>
							<td align="center">	<img src="assets/licnce2.jpg"></td>
							<td align="center"><h3><span class="label label-warning">Material Used:
												Bubble Warping,
											   Sacks,<br>
											   Foam & Thermocol
										</span></h3>	</td>
						</tr>

						
						
						<tr>
							<td colspan="2" align="center"><h3><span class="label label-success">Loading And Unloading Services:Yes</span></h3></td>
							<td align="center"><h3><span class="label label-success">Rearrging Services:Yes</span></h3></td>
						</tr>
						
						<tr>
							<td align="center"><h3><span class="label label-warning">Id Proofs:-</span></h3</td>
							<td align="center"><img src="assets/AD2.jpg"><br>
							<td align="center">	<img src="assets/PAN1.jpg"></td>
							</td>
						</tr>
						

					</table>

        					
					</md-card-content>
				</md-card>
			</div>	
		</div>
	</div>
</div>