<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Quotation</h1>
      </div>
    </div>
  </div>
</div>


  <div class="row">

    <div class="bg_div-quotation">
      <!-- + Registration Form Heading -->
  <md-toolbar md-theme="docs-dark" class="md-primary">
    <h1 class="md-toolbar-tools" style="margin-left:400px;">
    Quotation For Packing And Shifting Services
    </h1>
  </md-toolbar><!-- + End Of Registration Form heading -->
<!-- + Sepration Div(Registration Form) -->
   <div class="col-md-12 ">
  <md-card>
  <md-card-content>

  
  <md-content class="md-padding  quote_demo">
  
      <form name="QuotationForm">
     <div layout layout-sm="column">
        <md-input-container>
          <label>Company Name:</label>
            <input input="text" name="qadd" ng-model="quoadd" >
        </md-input-container>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <md-input-container>
          <label>Address:</label>
            <input input="text" name="qadd" ng-model="quoadd" >
        </md-input-container>
      </div>  

      <div layout layout-sm="column">
         <md-input-container>
          <label>Email Id:</label>
            <input input="text" name="qemail" ng-model="qemail" >
          </md-input-container>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <md-input-container>
          <label>Website:</label>
            <input input="text" name="qwebsite" ng-model="qwebsite" >
          </md-input-container>
    </div>
<hr class="hr-line"></hr>
    <div layout layout-sm="column">
     <md-input-container>
      <label>To,</label>
        <br>
      <label>Client Name</label>
      <input input="text" name="clname" ng-model="clientname" >      
     </md-input-container>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    

      <md-input-container>
        <label>Date</label>
          <input input="text" name="qdate" ng-model="quodate" >
      </md-input-container>
    </div>

    <div layout layout-sm="column">
      <md-input-container>
        <label>From:</label>
          <input input="text" name="quoNo" ng-model="quotatioNn">
      </md-input-container>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <md-input-container>
        <label>To:</label>
          <input input="text" name="phno" ng-model="phoneno" >
      </md-input-container>
    </div>

    <div layout layout-sm="column">
      <md-input-container>
        <label>Quotation No:</label>
          <input input="text" name="quoNo" ng-model="quotatioNn">
      </md-input-container>
      <md-input-container>
        <label>Phone No:</label>
          <input input="text" name="phno" ng-model="phoneno" >
      </md-input-container>
      <md-input-container>
        <label>Service Tax No:</label>
         <input input="text" name="stax" ng-model="srvtax" >
      </md-input-container>
    </div>
<hr class="hr-line"></hr>
<md-content>
<p class="quote-content">
Dear Sir/Madam,
<br>
We thank you for giving us the opportunity to quote for shifting and relocation of your
 <br>
 valuable goods.We are pleased to quote you our best rate offer for 
    
the same as under.
</p>
</md-content>

<table ng-table="quaotation" border="1" width="60%" class="quotable">
  <tr>
    <th class="srno">Sr No</th>
    <th class="srno">Particulars</th>
    <th class="srno">Charges</th>
  </tr>

  <tr>
    <td class="srno">1</td>
    <td class="sz1">Packing Support</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>I. Packing Charges(with Men & Material)</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>II. Un-Packing Charges</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>III. Re-arranging Charges</td>
    <td> </td>
  </tr>
       
  <tr>
    <td class="srno">2</td>
    <td class="sz1">Handling</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>I. Loading Charges</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>II. Un-Loading Charges</td>
    <td> </td>
  </tr>
        
  <tr>
    <td class="srno">3</td>
    <td class="sz1">FRIGHT</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>I. Transport Charges</td>
    <td> </td>
  </tr>
  
  <tr>
    <td></td>
    <td>II. Temporary storage Charges</td>
    <td> </td>
  </tr>

  <tr>
    <td class="srno">4</td>
    <td class="sz1">Surplus Charges(Any surplus id included service tax,goods tax,toll tax,road tax</td>
    <td> </td>
  </tr>

  <tr>
    <td class="srno">5</td>
    <td class="sz1">Logistic Support</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td>I.Escort(with return fare)</td>
    <td> </td>
  </tr>

  <tr>
    <td class="srno">6</td>
    <td class="sz1">Octroi Charges</td>
    <td> </td>
  </tr>

  <tr>
    <td></td>
    <td style="text-align:right;font-weight:bold;">Total Amount:</td>
    <td> </td>
  </tr>

  <tr>
    <td colspan="3" style="font-weight:bold;">Amount in word:</td>
  </tr>

</table>

<h2>Terms And Conditions</h2>
 <ol style="list-style-type:1">
  <li>The above quotaed transportation charges are based on the prevalling rates<br> which is valid for 4 wheelers. Beyond that transportation charges may vary</li>
  <li>The carrier and their agents shall be exempt from any loss or damage through <br>accidents,fire,rain,collision or any other road river hazards.</li>
  <li>Cost of packing ,handling and fright based on provided list of materials</li>
  <li>Extra charges will be applicable on extra items</li>
</ul> 
<!--<div layout layout-sm="column">
 <md-input-container>
      <label>Sr No</label>
      </md-input-container>&nbsp;&nbsp;&nbsp;&nbsp;
      <md-input-container>
      <label>Particular</label>
      </md-input-container>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <md-input-container>
      <label>Charges</label>
      </md-input-container>
    </div>-->

      </form>
    
    </md-content>
  </md-card-content>
  </md-card>
</div>
</div>