<!--+ Header(BreadCrumbs)-->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Please Register To BOOK YOUR MOVE</h1>
      </div>
    </div>
  </div>
</div>


  <div class="row">

    <div class="bg_div_regi-mover1">
      <!-- + Registration Form Heading -->
  <md-toolbar md-theme="docs-dark" class="md-primary">
    <h1 class="md-toolbar-tools">
    Mover Registration Form
    </h1>
  </md-toolbar><!-- + End Of Registration Form heading -->
<!-- + Sepration Div(Registration Form) -->
   <div class="col-md-12 col-md-offset-0">
  <md-card>
  <md-card-content>

  
  <md-content class="md-padding">
   
      <form name="PackerForm">
         <div layout layout-sm="column" class="col-md-offset-4">
        <md-input-container>
          <label>Lisence Photocopy:-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <md-button class="md-raised md-warn">Browse&nbsp;&nbsp;<i class="fa fa-upload"></i></md-button>
          </label>
        </md-input-container>   
       </div>
 <div layout layout-sm="column"  class="col-md-offset-0">
      <md-input-container>
                  <label>Service Locations:-</label>
                 </md-input-container>&nbsp;&nbsp;&nbsp;  
                   <div class="checkbox">
                    <md-checkbox aria-label="Yes">Within State
                    
                    </md-checkbox>
                    <md-checkbox  aria-label="No">Outside State
                    
                    </md-checkbox>  
                  </div>   

        <md-input-container>
                  <label>Documents For ID proof:-</label>
                 </md-input-container>  
                 <div class="checkbox">
                   <md-checkbox aria-label="Yes">Pancard
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <md-button class="md-raised md-primary" md-theme="docs-dark">Upload&nbsp;&nbsp;<i class="fa fa-upload"></i></md-button>
                   </md-checkbox>
                   <md-checkbox  aria-label="No">AdharCard
                   &nbsp;&nbsp;&nbsp;&nbsp;
                   <md-button class="md-raised md-primary" md-theme="docs-dark">Upload&nbsp;&nbsp;<i class="fa fa-upload"></i></md-button>
                   </md-checkbox>  
       </div>

        
        </div>        
       
       <md-divider></md-divider>

       
<br>
      <div class="row">
        <md-content md-theme="docs-dark">
          <h3 class="pull-left">
            <md-button class="md-raised md-primary"><i class="fa fa-arrow-circle-left"></i> Back</md-button>
          </h3>
          <h3 class="pull-right">
            <md-button class="md-raised md-primary">Next <i class="fa fa-arrow-circle-right"></i></md-button>
          </h3>
        </md-content>
      </div>
     
     
        