<div layout layout-sm="column">
  
  <md-input-container>
    <label>Company Address</label>
    <input  input="text" name="comadd" ng-model="caddress">
  </md-input-container>
  <md-input-container>
    <label>Office No</label>
    <textarea ng-model="officeno" ></textarea>
  </md-input-container>
</div>
<div layout layout-sm="column">
  <md-input-container>
    <label>Loading & Unloading <br> Services:-</label>
  </md-input-container>
  <md-radio-group ng-model="data.group2" style="margin-top:30px;">
    <md-radio-button value="Yes">Yes</md-radio-button>
    <md-radio-button value="No">No</md-radio-button>
  </md-radio-group>
  <md-input-container>
    <label>Re-arranging services</label>
  </md-input-container>
  <md-radio-group ng-model="data.group3" style="margin-top:30px;">
    <md-radio-button value="Yes">Yes</md-radio-button>
    <md-radio-button value="No">No</md-radio-button>
  </md-radio-group>
</div>
<br>
        