            <div layout layout-sm="column">
              <md-input-container>
                <label>First Name*<i ng-show="ClientForm.fname.$valid && !ClientForm.fname.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input input="text" name="fname" ng-model="firstName" placeholder="Enter FirstName" ng-model-options="{debounce: 750}" ng-required="true" minlength="3" ng-pattern="/^[a-zA-Z]{3,20}$/">
                <div ng-show="!ClientForm.fname.$pristine" ng-messages="ClientForm.fname.$error" ng-messages-include="my-messages.html"></div>
              </md-input-container>
              <md-input-container>
                <label>Last Name*<i ng-show="ClientForm.lastname.$valid && !ClientForm.lastname.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input input="text" name="lastname" ng-model="lastName" placeholder="Enter LastName" ng-model-options="{debounce: 750}" ng-required="true" minlength="3" ng-pattern="/^[a-zA-Z]{3,20}$/">
                <div ng-show="!ClientForm.lastname.$pristine" ng-messages="ClientForm.lastname.$error" ng-messages-include="my-messages.html"></div>
              </md-input-container>
              <md-input-container ng-if="uistate.current.name !== 'home.registration'">
                <label>Company Name*<i ng-show="ClientForm.cname.$valid && !ClientForm.cname.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input input="text" name="cname" ng-model="companyname" placeholder="Enter Company Name" ng-model-options="{debounce: 750}" ng-required="true" minlength="3" ng-pattern="/^[a-zA-Z]{3,20}$/">
                <div ng-show="!ClientForm.cname.$pristine" ng-messages="ClientForm.cname.$error" ng-messages-include="my-messages.html"></div>
              </md-input-container>
            </div>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Email_id*<i ng-show="ClientForm.emailid.$valid && !ClientForm.emailid.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input type="email" required name="emailid" ng-model="emailid"  ng-model-options="{debounce: 750}" validate-email />
                <div  ng-show="!ClientForm.emailid.$pristine" ng-messages="ClientForm.emailid.$error" ng-messages-include="my-messages.html">
                  <div ng-message="email">Specify a valid email<i class="fa fa-exclamation-triangle fa-stack-1x"></i></div>
                </div>
              </md-input-container>
              <md-input-container flex>
                <label>Mobile No.*<i ng-show="ClientForm.mobile.$valid && !ClientForm.mobile.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input ng-model="mobile_no" name="mobile" ui-mask="{{pattern_mob}}" required/>
                <div  ng-show="!ClientForm.mobile.$pristine" ng-messages="ClientForm.mobile.$error" ng-messages-include="my-messages.html">
                </div>
              </md-input-container>
            </div>

            <div layout layout-sm="column">  
              <ui-select ng-model="state.selected" theme="bootstrap" class="state">
                <ui-select-match placeholder="Select state">
                {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="state in states | filter: $select.search">
                {{state.name}}
                </ui-select-choices>
              </ui-select>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
              <ui-select ng-model="state.selected" theme="bootstrap" class="state">
                <ui-select-match placeholder="Select city">
                {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="city in cities | filter: $select.search">
                {{city.name}}
                </ui-select-choices>
              </ui-select>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <md-input-container flex class="pincode">
                <label>Pincode*<i ng-show="ClientForm.pincode.$valid && !ClientForm.pincode.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input type="text" ng-model="pincode" name="pincode" ui-mask="{{pattern_pin}}" required />
                <div  ng-show="!ClientForm.pincode.$pristine" ng-messages="ClientForm.pincode.$error" ng-messages-include="my-messages.html">
                </div>
              </md-input-container>  
              <ui-select ng-model="vendor.selected" theme="bootstrap" class="state">
                <ui-select-match placeholder="Vendor Type...">
                {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="v in vendors | filter: $select.search">
                {{v.name}}
                </ui-select-choices>
              </ui-select>
            </div>

            <div layout layout-sm="column">
 
              <md-input-container flex>
                <label>Password*</label>
                <input type="password" ng-model="password" name="password" minlength="6" minlength="18" required/>
                <div ng-show="!ClientForm.password.$pristine" ng-messages="ClientForm.password.$error" ng-model-options="{debounce: 750}" ng-messages-include="my-messages.html"></div>
              </md-input-container>

              <md-input-container flex>
                <label>Confirm Password*<i ng-show="ClientForm.confirmpassword.$valid && !ClientForm.confirmpassword.$pristine" class="fa fa-check fa-stack-1x"></i></label>
                <input type="password" ng-model="confirmpassword" name="confirmpassword" required compare-to="password"  ng-model-options="{debounce: 750}"/>
                <div ng-show="!ClientForm.confirmpassword.$pristine" ng-messages="ClientForm.confirmpassword.$error" ng-messages-include="my-messages.html"></div>
              </md-input-container>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div vc-recaptcha theme="light" key="'6LcTxwQTAAAAACFMRmqKCGfQ5_sTjHSFaP3WPEOm'"></div>
            </div>