<!--+ Header(BreadCrumbs)-->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Please Register To BOOK YOUR MOVE</h1>
      </div>
    </div>
  </div>
</div>


  <div class="row">

    <div class="bg_div_regi-packer2">
      <!-- + Registration Form Heading -->
  <md-toolbar md-theme="docs-dark" class="md-primary">
    <h1 class="md-toolbar-tools">
    Mover Registration Form
    </h1>
  </md-toolbar><!-- + End Of Registration Form heading -->
<!-- + Sepration Div(Registration Form) -->
   <div class="col-md-10 col-md-offset-1">
  <md-card>
  <md-card-content>

  
  <md-content class="md-padding">
   
      <form name="PackerForm">
         <div layout layout-sm="column" class="col-md-offset-4">
        <md-input-container>
                  <label>Total Number Of Vehicles</label>
                   <input input="text" name="fname" ng-model="firstname">
                </md-input-container> 
       </div>
          <div layout layout-sm="column" class="col-md-offset-1">
          
                <md-input-container>
                  <label>Types Of Vehical:-</label>
                 </md-input-container>  
                   <div class="checkbox">
                 <md-checkbox aria-label="Yes">Truck</md-checkbox>
                   <md-checkbox  aria-label="No">Tempo </md-checkbox> 
                   <md-checkbox  aria-label="Yes">Contanier </md-checkbox>
                   <md-checkbox  aria-label="No">Piaggio </md-checkbox>
                   <md-checkbox  aria-label="Yes">Eicher </md-checkbox>  
                  </div>     
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

       
                <md-input-container>
                  <label>Documents Of Vehical <br> To be attched:-</label>
                 </md-input-container>  
                   <div class="checkbox">
                    <md-checkbox aria-label="Yes">Tax Book
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                    <md-button class="md-raised md-primary" md-theme="docs-dark">Upload</md-button>
                    </md-checkbox>
                    <md-checkbox  aria-label="No">RC Book
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <md-button  md-theme="docs-dark" class="md-raised md-primary">Upload</md-button> 
                    </md-checkbox> 
                    <md-checkbox  aria-label="Yes">PUC
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <md-button class="md-raised md-primary" md-theme="docs-dark">Upload</md-button>
                    </md-checkbox>
                    <md-checkbox  aria-label="No">Insurance
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                    <md-button class="md-raised md-primary" md-theme="docs-dark">Upload</md-button> 
                    </md-checkbox> 
                  </div>     
        </div>           
<br>
      <div layout layout-sm="column">
          <md-button class="md-raised md-primary" md-theme="docs-dark">Back</md-button>
        </div>
      <div layout layout-sm="column" class="col-md-offset-5">
          <md-button class="md-raised md-primary" md-theme="docs-dark">Submit</md-button>
        </div>
        