<div class="row">
	<div class="col-md-12">
		<div class="bg_div_see-requ">
		
<md-toolbar md-theme="docs-dark">
				<h1 class="md-toolbar-tools" style="margin-left:400px;">Requiermment Summary</h1>
			</md-toolbar>
			<div class="col-md-12 col-md-offset-0">
				<md-card>
					<md-card-content>
						<table class="table" border='0' align="center" width="80%">
						<tr>
							<td colspan="3" style="text-align:center;"><span class="badge"><h3>Detail Info of Requierment</h3></span></td>
						</tr>
						<tr>
							<td colspan="2" style="vertical-align: middle;" align="center"><h2><span class="label label-success">Name: Mahaveer Mutta</span></h2></td>
							<td align="center"><h2><span class="label label-success">Total No. of Pcs:12</span></h2></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;" colspan="2" align="center"><h2><span class="label label-warning">From Address:
							 Synerzip Softech, Kothrud, Pune, Maharashtra, India</span></h2></td>
							<td align="center"><h2><span class="label label-warning">Sarasnagar Road, Bhavani Nagar, Ahmednagar, Maharashtra, India</span></h2></td>
						</tr>
						
						<tr>
							
							<td align="center"><img src="assets/backpack.png" width="95px" height="95px"></td>
							<td align="center">	<img src="assets/dining table round.png" width="95px" height="95px"></td>
							<td align="center"><img src="assets/night_table.png" width="95px" height="95px">
											</td>
						</tr>

						<tr>
							<td align="center"><img src="assets/queen bed.png" width="95px" height="95px"></td>
							<td align="center">	<img src="assets/floor lamp.png" width="95px" height="95px"></td>
							<td align="center"><img src="assets/fridge large.png" width="95px" height="95px">
											</td>
						</tr>

						<tr>
							<td align="center"><img src="assets/chair copy.png" width="95px" height="95px"></td>
							<td align="center">	<img src="assets/sewing machine.png" width="95px" height="95px"></td>
							<td align="center"><img src="assets/shoe rack.png" width="95px" height="95px">
											</td>
						</tr>

						<tr>
							<td align="center"><img src="assets/soccer ball.png" width="95px" height="95px"></td>
							<td align="center">	<img src="assets/small china box.png" width="95px" height="95px"></td>
							<td align="center"><img src="assets/wardrobe large.png" width="95px" height="95px">
											</td>
						</tr>

						
						

					</table>

					</md-card-content>
				</md-card>
			</div>	
		</div>
	</div>
</div>